fw_data/fw_include_schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- Schema for validation of framework include files -->

<xsd:element name="include_values" type="includevaluestype"/>
	
<xsd:complexType name="includevaluestype">
	<xsd:sequence>
		<xsd:element name="value" type="valuetype" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>
</xsd:complexType>
	
<xsd:complexType name="valuetype">
	<xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="value_name" type="xsd:string" use="required"/>
		<xsd:attribute name="value_type" type="xsd:string"/>
      </xsd:extension>
    </xsd:simpleContent>
</xsd:complexType>

</xsd:schema>